{% comment %}
  Artist House - Page Template
  This template is used for regular pages
{% endcomment %}

<div class="page-width">
  <div class="main-page-title page-title h0">
    {{ page.title | escape }}
  </div>
</div>

<div class="page-width page-width--narrow">
  <div class="page rte">
    {{ page.content }}
  </div>
</div>


